<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jollychic.data.yuce.server.usercategory.mapper.impala.ImpalaUserTagMapper">
    <!-- 自定义返回结果集 -->
    <resultMap id="UserTagResultMap" type="UserTagDO">
        <result property="userId" column="userid" javaType="java.lang.String"/>
        <result property="tagId" column="tagid" javaType="java.lang.String"/>
        <result property="tagValue" column="tagweight" javaType="java.lang.String"/>
        <result property="dataDate" column="data_date" javaType="java.lang.String"/>
    </resultMap>

    <!--统计满足条件的userId的数量，去重-->
    <select id="countByCondition" resultType="java.lang.Integer"  statementType="STATEMENT">
        select count(distinct (utc.userid))  from dw.dw_profile_tag_user_userid_service utc
        <foreach collection="conditionList" item="condition" index="index" open="JOIN ( SELECT userid FROM dw.dw_profile_tag_user_userid_service WHERE " close="" separator="JOIN ( SELECT userid FROM dw.dw_profile_tag_user_userid_service WHERE">
            ${condition} ) utc${index} ON utc.userid = utc${index}.userid
        </foreach>
        <where>
        <if test="firstCondition != null">
            ${firstCondition}
        </if>
        <if test="excludeCategory !=null" >
           and NOT EXISTS (SELECT user_id FROM dw.dw_userid_category_relation WHERE data_date='${dataDate}' and  user_id = utc.userid AND category_id IN(${excludeCategory}))
        </if>
        </where>
    </select>

    <!--统计满足条件的userId的数量，人群减法不依赖人群的结果数据-->
    <select id="countByConditionNew" resultType="java.lang.Integer"  statementType="STATEMENT">
        select count(distinct (utc.userid))  from dw.dw_profile_tag_user_userid_service utc
        <if test="conditionList != null and conditionList.size() > 0">
            <foreach collection="conditionList" item="condition" index="index" open="JOIN ( SELECT userid FROM dw.dw_profile_tag_user_userid_service WHERE " close="" separator="JOIN ( SELECT userid FROM dw.dw_profile_tag_user_userid_service WHERE">
                ${condition} ) utc${index} ON utc.userid = utc${index}.userid
            </foreach>
        </if>

        <where>
            <if test="firstCondition != null">
                ${firstCondition}
            </if>
            <if test="excludeContionList !=null and excludeContionList.size() > 0" >

                <foreach collection="excludeContionList" item="item" open="and utc.userid not in ( select exclude.userid from (" separator="union" close=")exclude)">
                    select distinct (ex.userid)  from dw.dw_profile_tag_user_userid_service ex
                    <if test="item.conditionList != null">
                        <foreach collection="item.conditionList" item="condition" index="index" open="JOIN ( SELECT userid FROM dw.dw_profile_tag_user_userid_service WHERE " close="" separator="JOIN ( SELECT userid FROM dw.dw_profile_tag_user_userid_service WHERE">
                            ${condition} ) ex${index} ON ex.userid = ex${index}.userid
                        </foreach>
                    </if>
                    <where>
                        <if test="item.firstCondition != null">
                            ${item.firstCondition}
                        </if>
                    </where>
                </foreach>
            </if>
        </where>
    </select>


</mapper>